__pycache__/
*.py[cod]
*.egg-info/
.env
logs/
# Logs and databases
*.log
*.sqlite

# IDE Files
.idea/*
.vscode/*

# Local development
.env.local
continue.json
tmp/
temp/

# Testing
coverage.*
htmlcov/*
.pytest_cache/*

# Editor backup files
*.swp
*.swo
/.back~

